:root{ 

    --color-primary-0: #083394 ; 
    
    --color-primary-1: #2C5BC5;
     --color-primary-2 : #0C43C0 ;
     --color-primary-3 : #052878; 
     --color-primary-4 :#031D5A  ; 
    
    /*Main Secondary color (1) */
    --color-secondary-1-0 : #180B9A ;
    --color-secondary-1-1 :  #4133CA; 
    --color-secondary-1-2:  #2110C5;
    --color-secondary-1-3: #12077D ;
    --color-secondary-1-4: #0C045D ; 
    
    /*Main Secondary color (2)*/
    --color-secondary-2-0 : #045D8D ; 
     --color-secondary-2-1 : #2288BF;
     --color-secondary-2-2 : #067AB9;
      --color-secondary-2-3 : #034B72; 
      --color-secondary-2-4 : #013855; 
    
    } 




body{
    margin: 0;
    padding: 0;
    background-color: var(--color-secondary-2-2);
    background-size: covers;
    color: black;
}
.navbar nav{
    width: 100px;
    height: 50px;
    margin-left: 50px;
}
.navbar nav ul {
     
  margin: 0;
  padding: 0;
 }

.navbar ul li{
    list-style: none;
   display: inline;
  float: left;
   line-height: 100px;
   color: white;
}
.navbar ul li a {

    display: block;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Commissioner', sans-serif;
    color: white;
    padding: 0px 20px;
   
   
 
  }
  .navbar ul li a:hover {
    color: red;
    background-color: silver;
  }
 
  .navbar nav{
    
     width: 100%;
     height: 50px;
   margin-left: 50px;
   
  }
